[nix]
packages = ["nodejs", "npm", "yarn"]

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 47021045
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
