@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --background: #000000;
  --lightbg: #111111;
  --card: #000000;
  --btnbg: #222222;
  --yellow: #ffffff;
  --purple: #ffffff;
  --pink: #ffffff;
}
